/* Text */ 
.text-center{
  text-align: center;
}

.heading-small{
  font-size: 1.25rem;
}

.heading-big{
  font-size: 1.75rem;
}

/* Colors */
.bg-dark{
  background: #000;
}

.bg-light{
  background: #323232;
}

/* Container */
.container{
  max-width: 1000px;
  margin: 0 auto;
}